<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/chat/createRoom" method="post">
    <input type="text" name="name" placeholder="채팅방 이름">
    <button type="submit" >방 만들기</button>
</form>

<table>
    <tr th:each="room : ${roomList}" >
        <td>
            <a th:href="@{chatRoom(roomId=${room.roomId} )}"
               th:text="${room.name}"></a>
        </td>
    </tr>
</table>

</body>
</html>

/*
현재 구현문제
    현재 채팅방 리스트가 제대로 안나오고 있음 해당 부분 파악해야함
    한번에 입장할지 container owner가 만드는 걸지는 생각해봐얗ㅁ

추후 연결해야할 것
    containerId 연결
    roomId 연결( 현재 랜덤 값으로 넣어주고 있음)
    containerId or roomId를 공유하는 사용자 쿼리를 써서 리스트로 받아와야하나

*/